*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  padding-top: 1.75rem; /*28px*/
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  /* border: 1px solid red; */
}

.hero-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  width: 100%;
}

.content-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  padding: 1.3em; /*21 px*/
}

.perfume-text {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem; /*12px*/
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 0.75rem; /*12px*/
  text-transform: uppercase;
}

.perfume-heading {
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces', serif;
  font-size: 2rem; /*32px*/
  line-height: 2rem; /*32px*/
  margin-bottom: 0.75rem; /*12px*/
}

.perfume-description {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem; /*14px*/
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 1rem; /*16px*/
}
